@model  List<CourseForListViewModel>;
@{
    ViewData["Title"] = "Home Page";
    var newCourse = ViewBag.NewCourses;
}

    
    
<div class="row">
    <div class="col-12">
        <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
            <span>The Best</span>
            <h3>Khóa học nhiều người tham gia nhất</h3>
        </div>
    </div>
</div>
<div class="row">

    <!-- Single Top Popular Course -->
    @foreach (var course in Model)
    {
        <div class="col-12 col-lg-6">
            <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                <div class="popular-course-content">
                    <h4>@course.Name </h4>
                    <p style="min-height:150px;" class="rutgon" >@course.Introduce.</p>
                    <a href="/lesson/@course.Id" class="btn academy-btn btn-sm">Xem chi tiết</a>
                </div>
                <div class="popular-course-thumb bg-img" style="background-image: url(/@course.Image);"></div>
            </div>
        </div>
    }
</div>
<br /><br /><br />
<div class="row">
    <div class="col-12">
        <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
            <h3>Khóa học mới cập nhật</h3>
        </div>
    </div>
</div>
<div class="row">

    <!-- Single Top Popular Course -->
    @foreach (var course in newCourse)
    {
        <div class="col-12 col-lg-6">
            <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                <div class="popular-course-content">
                    <h4>@course.Name </h4>
                    
                    <p style="min-height:150px;" class="rutgon">@course.Introduce.</p>
                    <a href="/lesson/@course.Id" class="btn academy-btn btn-sm">Xem chi tiết</a>
                </div>
                <div class="popular-course-thumb bg-img" style="background-image: url(/@course.Image);"></div>
            </div>
        </div>
    }
</div>
 
 
