@model  List<CourseForListViewModel>;
@{
    ViewData["Title"] = "Home Page";
    var newCourse = ViewBag.NewCourses;
}

    
    
<div class="row">
    <div class="col-12">
        <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
            <span>The Best</span>
            <h3>Top Popular Courses</h3>
        </div>
    </div>
</div>
<div class="row">

    <!-- Single Top Popular Course -->
    @foreach (var course in Model)
    {
        <div class="col-12 col-lg-6">
            <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                <div class="popular-course-content">
                    <h5>@course.Name </h5>
                    <span>By Simon Smith   |  March 18, 2018</span>
                    <div class="course-ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p class="rutgon" >@course.Introduce.</p>
                    <a href="/lesson/@course.Id" class="btn academy-btn btn-sm">See More</a>
                </div>
                <div class="popular-course-thumb bg-img" style="background-image: url(/@course.Image);"></div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-12">
        <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
            <h3>New Courses</h3>
        </div>
    </div>
</div>
<div class="row">

    <!-- Single Top Popular Course -->
    @foreach (var course in newCourse)
    {
        <div class="col-12 col-lg-6">
            <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                <div class="popular-course-content">
                    <h5>@course.Name </h5>
                    <span>By Simon Smith   |  March 18, 2018</span>
                    <div class="course-ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p class="rutgon">@course.Introduce.</p>
                    <a href="/lesson/@course.Id" class="btn academy-btn btn-sm">See More</a>
                </div>
                <div class="popular-course-thumb bg-img" style="background-image: url(/@course.Image);"></div>
            </div>
        </div>
    }
</div>
 
 
