@model List<CourseForListViewModel>;
@{
    //  ViewData["Title"] = "GetCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-popular-courses-area section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Tất cả khóa học</h3>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var course in Model)
            {
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="popular-course-content">
                            <h4>@course.Name</h4>
                            
                            <p style="min-height:150px;" class="rutgon">@course.Introduce.</p>
                            <a href="/lesson/@course.Id" class="btn academy-btn btn-sm">Xem chi tiết</a>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url(/@course.Image);"></div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
